<div class="row">
    <nav class="navbar navbar-default">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 accnlogo">
            <a href="#">
                <img src="../../assets/images/accenturelogo.png" alt="accenturelogo">
            </a>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <h3>Sense & Learn - Supply Chain Visualisation</h3>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <ul class="nav navbar-nav headernaviconcollection">
                <li>
                    <a routerLink="/home">
                        <img src="../../assets/images/homeicon.jpg">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/location">
                        <img src="../../assets/images/locationicon.jpg">
                        <span>Location</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/blockchain">
                        <img src="../../assets/images/blockchainicon.jpg">
                        <span>Blockchain</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/analytics">
                        <img src="../../assets/images/analyticsicon.jpg">
                        <span>Analytics</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 logoutdetails">
            <div class="pull-left personaimg">
                <img src="../../assets/images/persona.png" alt="persona">
            </div>
            <div class="pull-left personadetails">
                <p>Andrew Zane</p>
                <p>Supply Chain Manager,BASF</p>
            </div>
            <div class="pull-left logoutBtn" (click)="logout()">
                <a routerLink="login">
                    <img src="../../assets/images/logouticon.jpg" alt="logout">
                </a>
            </div>
        </div>
    </nav>
</div>
