
<app-header></app-header>
<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 greybackground">
        <p>
            <img src="assets/images/bluedot.png" alt="delivery location" class="dots">
            <label>Delivery Location</label>
        </p>
        <p>
            <img src="assets/images/orangedot.png" alt="plant location" class="dots">
            <label>Plant Location</label>
        </p>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <table border="1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <thead>
                <tr>
                    <th>Cargo</th>
                    <th>Exp.ETA</th>
                    <th>Target ETA</th>
                    <th>Delay Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ALMARA</td>
                    <td>12/01/2020</td>
                    <td>27/12/2019</td>
                    <td>14 DAYS</td>
                    <td>DELAYED DUE TO BAD WEATHER</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
</div>
