
<app-header></app-header>
<p>Suhas{{state}}</p>
<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <p class="greybackground">
            <img src="assets/images/bluedot.png" alt="delivery location" class="dots">
            <label>Delivery Location</label>
        </p>
        <p class="greybackground">
            <img src="assets/images/orangedot.png" alt="plant location" class="dots">
            <label>Plant Location</label>
        </p>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <table border="1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tablestyle">
            <thead>
                <tr>
                    <th>Cargo</th>
                    <th>Exp.ETA</th>
                    <th>Target ETA</th>
                    <th>Delay Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ALMARA</td>
                    <td>12/01/2020</td>
                    <td>27/12/2019</td>
                    <td>14 DAYS</td>
                    <td>DELAYED DUE TO BAD WEATHER</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 5px;">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div id="routemapdiv" style="width: 100%;"></div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <ul class="newslist">
            <li>Predicted storm in Arabian sea for next 48 hours.</li>
            <li>All shipments from Gulf of Mexico to suffer due to storm katrina.</li>
            <li>Shipment Almara en-route to Chennai marked safe during storm in Arabian sea.</li>
            <li>Chennai port to halt work due to labor issues on port. </li>
            <li>200 tons of HAZ product spill at port of Mumbai clearance to take a week shipments to be delayed.</li>
        </ul>
    </div>
</div>
