<app-header></app-header>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="blockchainmessage">
            <p>Shipment Number</p>
            <p>38998765</p>
        </div>
        <div class="blockchainmessage">
            <p>Supplier Name</p>
            <p>Accent Chemicals</p>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="blockchainmessage">
            <p>Material Name</p>
            <p>PMDI</p>
        </div>
        <div class="blockchainmessage">
            <p>Material Status</p>
            <p>Temperature Breach</p>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="blockchainmessage">
            <p>Transaction Pending</p>
            <p>
                <input type="radio" value="">
            </p>
        </div>
        <div class="blockchainmessage">
            <p>TX4, TX5, TX6</p>
            <p>Accent Chemicals</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="picturedisplay">
        <ul>
            <li><img src="../../assets/images/manufacture.png">
                <span class="textstyling">Manufacturing</span>
            </li>
            <li><img src="../../assets/images/shipment.png">
                <span class="textstyling">Shipment</span>
            </li>
            <li><img src="../../assets/images/loading.png">
                <span class="textstyling">Loading Port</span>
            </li>
            <li><img src="../../assets/images/shipment2.png">
                <span class="textstyling">Shipment</span>
            </li>
            <li><img src="../../assets/images/loading.png">
                <span class="textstyling">Unloading Port</span>
            </li>
            <li><img src="../../assets/images/shipment.png">
                <span class="textstyling">Shipment</span>
            </li>
            <li><img src="../../assets/images/customer.png">
                <span class="textstyling">Customer</span>
            </li>

        </ul>
        
    </div>
    <mat-horizontal-stepper>
        <mat-step *ngFor= "let i of steps">
          <!-- <form [formGroup]="firstFormGroup">
            <mat-form-field>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form> -->
        </mat-step>
      </mat-horizontal-stepper>
</div>
<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="blockchainstatus">
            <h4>TX1</h4>
            <p>Handover From manufacturer to Haulier.</p>
            <p class="blockchainno">0xf8b2ae8d638d61626fe9820cdc2cc9fe6a811023</p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="blockchainstatus">
            <h4>TX2</h4>
            <p>Handover From Haulier to Shipping Line at Port.</p>
            <p class="blockchainno">0xf8b2ae8d638d61626fe9820cdc2cc9fe6a811023</p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="blockchainstatus">
            <h4>TX3</h4>
            <p>Handover From Shipping Line at Port to Vessel.</p>
            <p class="blockchainno">0xf8b2ae8d638d61626fe9820cdc2cc9fe6a811023</p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="blockchainstatus">
            <h4>TX4</h4>
            <p>Handover From Vessel to Shipping Line at Port.</p>
            <p class="blockchainno">0xf8b2ae8d638d61626fe9820cdc2cc9fe6a811023</p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="blockchainstatus">
            <h4>TX5</h4>
            <p>Handover from Shipping Line at Port to Haulier.
            </p>
            <p class="blockchainno">0xf8b2ae8d638d61626fe9820cdc2cc9fe6a811023</p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="blockchainstatus">
            <h4>TX6</h4>
            <p>Handover From Haulier to customer(Client).</p>
            <p class="blockchainno">0xf8b2ae8d638d61626fe9820cdc2cc9fe6a811023</p>
        </div>
    </div>
</div>
