
.blockchainmessage{
    background-color: #f8f8f8;
    padding: 10px;
}
.blockchainmessage p{
    display: inline-block;
    width:  50%;
    text-align: left;
}

.blockchainmessage p:first-child{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    display: inline-block;
}
.blockchainstatus{
    background-color: #f8f8f8;
    box-shadow: 2px 2px 5px blueviolet;
    padding: 2px;
    border: 1px solid purple;
}
.blockchainstatus h4{
    text-align: center;
    color:#000;
    font-weight: bold;
}
.blockchainstatus p{
    text-align: center;
    color:#000;
    font-size: 12px;
    font-weight: bold;
   
}
.blockchainno{
    width: 100%;
    overflow: hidden;
    white-space: initial;
    word-break: break-all;
    font-weight: normal !important;
    
}
.picturedisplay{
    margin: 10px 0px;
}
.picturedisplay ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 4%;
    text-align: center;
    margin-left: 2%;
}
.picturedisplay ul li img{
    height: 80px;
    width: 80px;
}
.textstyling{
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


/***New One ***/

.mat-stepper-horizontal, .mat-stepper-vertical{
    margin-top: -24px;
    margin-bottom: -24px;
    margin-left: 8%;
    margin-right: 11%;
}
:host /deep/ mat-step-header{    
    
    padding: 0 24px !important; 
    width: 22px !important;}
   
:host /deep/ mat-step-header .mat-step-label {
    overflow: visible;
}
:host /deep/ mat-step-header:nth-of-type(1) .mat-step-icon-not-touched span, :host /deep/ mat-step-header:nth-of-type(1) .mat-step-icon span, :host /deep/ mat-step-header:nth-of-type(1) .mat-step-icon-not-touched .mat-icon, :host /deep/ mat-step-header:nth-of-type(1) .mat-step-icon .mat-icon {
    display: none;
}
:host /deep/ mat-step-header:nth-of-type(1) .mat-step-icon {
    height: 20px;
    width: 20px;
    background-color: green;
}
:host /deep/ mat-step-header:nth-of-type(1) .mat-step-icon-not-touched:after, :host /deep/ mat-step-header:nth-of-type(1) .mat-step-icon:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: green;
}
:host /deep/ mat-step-header:nth-of-type(2) .mat-step-icon-not-touched span, :host /deep/ mat-step-header:nth-of-type(2) .mat-step-icon span, :host /deep/ mat-step-header:nth-of-type(2) .mat-step-icon-not-touched .mat-icon, :host /deep/ mat-step-header:nth-of-type(2) .mat-step-icon .mat-icon {
    display: none;
}
:host /deep/ mat-step-header:nth-of-type(2) .mat-step-icon {
    height: 20px;
    width: 20px;
    background-color: green;
}
:host /deep/ mat-step-header:nth-of-type(2) .mat-step-icon-not-touched:after, :host /deep/ mat-step-header:nth-of-type(2) .mat-step-icon:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: green;
}
:host /deep/ mat-step-header:nth-of-type(3) .mat-step-icon-not-touched span, :host /deep/ mat-step-header:nth-of-type(3) .mat-step-icon span, :host /deep/ mat-step-header:nth-of-type(3) .mat-step-icon-not-touched .mat-icon, :host /deep/ mat-step-header:nth-of-type(3) .mat-step-icon .mat-icon {
    display: none;
}
:host /deep/ mat-step-header:nth-of-type(3) .mat-step-icon {
    height: 20px;
    width: 20px;
    background-color: green;
}
:host /deep/ mat-step-header:nth-of-type(3) .mat-step-icon-not-touched:after, :host /deep/ mat-step-header:nth-of-type(3) .mat-step-icon:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: green;
}
:host /deep/ mat-step-header:nth-of-type(4) .mat-step-icon-not-touched span, :host /deep/ mat-step-header:nth-of-type(4) .mat-step-icon span, :host /deep/ mat-step-header:nth-of-type(4) .mat-step-icon-not-touched .mat-icon, :host /deep/ mat-step-header:nth-of-type(4) .mat-step-icon .mat-icon {
    display: none;
}
:host /deep/ mat-step-header:nth-of-type(4) .mat-step-icon {
    height: 20px;
    width: 20px;
    background-color: red;
}
:host /deep/ mat-step-header:nth-of-type(4) .mat-step-icon-not-touched:after, :host /deep/ mat-step-header:nth-of-type(4) .mat-step-icon:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: red;
}
:host /deep/ mat-step-header:nth-of-type(5) .mat-step-icon-not-touched span, :host /deep/ mat-step-header:nth-of-type(5) .mat-step-icon span, :host /deep/ mat-step-header:nth-of-type(5) .mat-step-icon-not-touched .mat-icon, :host /deep/ mat-step-header:nth-of-type(5) .mat-step-icon .mat-icon {
    display: none;
}
:host /deep/ mat-step-header:nth-of-type(5) .mat-step-icon {
    height: 20px;
    width: 20px;
    background-color: grey;
}
:host /deep/ mat-step-header:nth-of-type(5) .mat-step-icon-not-touched:after, :host /deep/ mat-step-header:nth-of-type(5) .mat-step-icon:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: grey;
}
:host /deep/ mat-step-header:nth-of-type(6) .mat-step-icon-not-touched span, :host /deep/ mat-step-header:nth-of-type(6) .mat-step-icon span, :host /deep/ mat-step-header:nth-of-type(6) .mat-step-icon-not-touched .mat-icon, :host /deep/ mat-step-header:nth-of-type(6) .mat-step-icon .mat-icon {
    display: none;
}
:host /deep/ mat-step-header:nth-of-type(6) .mat-step-icon {
    height: 20px;
    width: 20px;
    background-color: grey;
}
:host /deep/ mat-step-header:nth-of-type(6) .mat-step-icon-not-touched:after, :host /deep/ mat-step-header:nth-of-type(6) .mat-step-icon:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: grey;
}
:host /deep/ mat-step-header:nth-of-type(7) .mat-step-icon-not-touched span, :host /deep/ mat-step-header:nth-of-type(7) .mat-step-icon span, :host /deep/ mat-step-header:nth-of-type(7) .mat-step-icon-not-touched .mat-icon, :host /deep/ mat-step-header:nth-of-type(7) .mat-step-icon .mat-icon {
    display: none;
}
:host /deep/ mat-step-header:nth-of-type(7) .mat-step-icon {
    height: 20px;
    width: 20px;
    background-color: grey;
}
:host /deep/ mat-step-header:nth-of-type(7) .mat-step-icon-not-touched:after, :host /deep/ mat-step-header:nth-of-type(7) .mat-step-icon:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: grey;
}

