.alertbox{
    border: 1px solid purple;
    padding: 5px;
    box-shadow: 2px 2px 5px #000;
    background-color: #f8f8f8;
    margin-top: 5px;
}
.alertbox1 li{
    list-style-type: none;
    padding: 3px 5px;
    color: #333;
    border: 1px solid #000;
    margin-bottom: 4.4px;
}

.alertsection h3{
  margin-top: 10px;
  margin-bottom: 10px;
}
.alertsection h4{
  margin-top: 5px;
  margin-bottom: 10px;
}
.alertsection ul{margin-bottom: 0px;padding-left: 0px;} 

  #shipmentMap {
    /*width: 100%;
    height: 500px; */
    overflow: hidden;
  }
  
  .map-marker {
    /* adjusting for the marker dimensions
      so that it is centered on coordinates */
    margin-left: -8px;
    margin-top: -8px;
    box-sizing: border-box;
  }
  
  .map-marker.map-clickable {
    cursor: pointer;
  }
  
  ::ng-deep .pulse {
    width: 10px;
    height: 10px;
    border: 5px solid #f7f14c;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #716f42;
    z-index: 10;
    position: absolute;
    box-sizing: border-box;
  }
  
  ::ng-deep .map-marker .dot {
    border: 10px solid #fff601;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
    opacity: 0;
    box-sizing: border-box;
  }
  
  @-moz-keyframes pulse {
    0% {
      -moz-transform: scale(0);
      opacity: 0.0;
    }
  
    25% {
      -moz-transform: scale(0);
      opacity: 0.1;
    }
  
    50% {
      -moz-transform: scale(0.1);
      opacity: 0.3;
    }
  
    75% {
      -moz-transform: scale(0.5);
      opacity: 0.5;
    }
  
    100% {
      -moz-transform: scale(1);
      opacity: 0.0;
    }
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(0);
      opacity: 0.0;
    }
  
    25% {
      -webkit-transform: scale(0);
      opacity: 0.1;
    }
  
    50% {
      -webkit-transform: scale(0.1);
      opacity: 0.3;
    }
  
    75% {
      -webkit-transform: scale(0.5);
      opacity: 0.5;
    }
  
    100% {
      -webkit-transform: scale(1);
      opacity: 0.0;
    }
  }

  .shipmentHeading{
      color:#002060;
      font-size: 10px;
      font-weight: bold;
  }
  .shipmentText{
    color:#002060;
    font-size: 8px;
  }

  .shipmentDiv{
    border-radius: 15px;
    border: 2px solid #002060;
    padding:4px;
  }
  .selboxcontainer{
    margin-bottom: 20px;
  }

  .selboxcontainer select{
    width: 150px;
    margin: 0px 10px;
    padding: 5px;
    border-radius: 10px;
  }
  .selboxcontaineracid{margin-bottom: 5px;}
  .selboxcontaineracid select{
    width: auto;
  }
  .rowmask{
    margin-left: 0px;
    margin-bottom: 3px;
  }
  .buunitselect select{
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    width: 52px;
    margin-right: 5px;
  }
  .shipmentgraphtext{
    margin-top: 5px;
    margin-left: 5px;
  }
  #sel1{
    width:76px;
  }
  #sel3{
    width:82px;
  }